@font-face
{
font-family: PNL;
src: url(fonts/ProximaNova-light.ttf);
}
@font-face
{
font-family: PNB;
src: url(fonts/ProximaNova-bold.ttf);
}
@font-face
{
font-family: PNSB;
src: url(fonts/ProximaNova-semibold.ttf);
}
@font-face
{
font-family: PNR;
src: url(fonts/ProximaNova-regular.ttf);
}

html,body{
	margin:0px;
	padding:0%'
	height:100%;
}
#container{
	min-height:100%;
	position:relative;
}
#header{
	max-width:1700px;
	position:relative;
	margin:0px auto 0px auto;
	border-bottom:1px solid #E3E3E3;
	-webkit-box-shadow: 0 6px 4px -6px #E3E3E3;
	   -moz-box-shadow: 0 6px 4px -6px #E3E3E3;
	        box-shadow: 0 6px 4px -6px #E3E3E3;
}
#body{
	height:2000px;
	width:100%;
	padding-top:40px;
	padding-bottom:118px;
	margin:0px auto 0px auto;
	max-width:1700px;
	background-color:#F4F4F4;
}
#topbar{
	position:relative;
	background-color:#f6921e;
	width:100%;
	height:4px;
	-webkit-box-shadow: 0 6px 2px -6px #f6921e;
	   -moz-box-shadow: 0 6px 2px -6px #f6921e;
	        box-shadow: 0 6px 2px -6px #f6921e;
}
#headnav{
	position:relative;
	margin:0px auto 0px auto;
	width:66%;
	height:70px;
	font-family:PNL,Courier New, Serif;
	font-size:22px;
	min-width:1110px;
}
#headleft{
	width:420px;
	float:left;
	height:70px;
	min-width:420px;
}
#headright{
	position:absolute;
	right:0px;
	top:0px;
	width:420px;
	height:70px;
	min-width:420px;
}
#headleft1,#headleft2,#headleft3{
	padding:0px;	
	height:70px;
	float:left;
	margin-right:50px;
}
#headleft1 img{
	display:block;	
	height:44.2px;
	width:105.3px;
	margin:12px 0px 0px 0px;
	padding:0px;
}
#headleft2,#headleft3{
	padding-top:22px;
}
#headleft3 a:link,#headleft3 a:visited{
	text-decoration:none;
	font-family:PNSB,Courier New,Serif;
	color:#696969;
}
#headleft3 a:hover,#headleft3 a:active{
	text-decoration:none;
	font-family:PNSB,Courier New,Serif;
	color:#595959;
}
#headleft2 a:link,#headleft2 a:visited{
	text-decoration:none;
	font-family:PNSB,Courier New,Serif;
	color:#f4932a;
}
#headleft2 a:hover,#headleft2 a:active{
	text-decoration:none;
	font-family:PNSB,Courier New,Serif;
	color:#df801a;
}
.profile{
	position:relative;
	float:right;
	height:100%;
}
.hype{
	position:relative;
	background-image:url(images/HypeFlag_48x23.png);
	width:48px;
	height:23px;
	float:right;
	margin-top:22px;
	font-family:PNL,Courier New, Serif;
	color:#ffffff;
	font-size:18px;
}
.pic{
	right:-8px;
	z-index:500;
	position:relative;
	width:44px;
	height:100%;
	float:right;
}
.pic img{
	width:44px;
	height:44px;
	margin-top:12px;
}
.notif{
	position:relative;	
	float:right;
	width:150px;
	height:100%;
}
.notification-container {
    position: absolute;
	top:10px;
	right:40px;
    width: 41px;
    height: 44px;
}
.notification-counter {   
    position: absolute;
    top: 10px;
    left: 30px;
    background-color:#f6921e;
    color: #ffffff;
    border-radius: 3px;
    padding: 1px 4px;
    font-size:14px;
	font-family:PNSB,Courier New, Serif;
}
.notif ul,.notif li {
    list-style: none;
}
.coverpic{
	width:1110px;
	height:617px;
	margin:0px auto 40px;
    -webkit-box-shadow: 0 0 4px 3px #E5E5E5;
	   -moz-box-shadow: 0 0 4px 3px #E5E5E5;
            box-shadow: 0 0 4px 3px #E5E5E5;
}
.coverpic img{
	width:1110px;
	height:617px;
	margin:0px;
}
.eventinfo{
	margin:0px auto;
	width:1110px;
	max-width:1100px;
	text-align:center;
	font-family:PNL,Courier New, Serif;
	font-size:26px;
	color:#939393;
}
.eventname{
	color:#595959;
	font-family:PNB,Courier New, Serif;
	font-weight:bold;
	font-size:60px;
}
.eventninfo a:link, .eventinfo a:visited{
	color:#939393;
}
.eventinfo a:hover,.eventinfo a:active{
	color:#838383;
	text-decoration:none;
}
.inforow{
	font-family:PNL,Courier New, Serif;
	font-size:28px;
	color:#606060;
	width:1110px;
	margin:40px auto;
}
.left-align{
	width:33%;
	text-align:left;
}
.right-align{
	width:33%;
	text-align:right;
}
.center-align{
	width:33%;
	text-align:center;
}
#orange{
	color:#fa8b32;
}
#num{
	font-family:PNSB,Courier New, Serif;
	font-weight:bold;
	font-size:45px;
	color:#595959;
}



