/******** FONT DECLARATIONS **********/
@font-face
{
font-family: PN;
src: url(fonts/ProximaNova-light.ttf);
font-weight: 100;
}

@font-face
{
font-family: PN;
src: url(fonts/ProximaNova-bold.ttf);
font-weight: 900;
}

@font-face
{
font-family: PN;
src: url(fonts/ProximaNova-semibold.ttf);
font-weight: 700;
}

@font-face
{
font-family: PN;
src: url(fonts/ProximaNova-regular.ttf);
}

@font-face
{
font-family: Casper;
src: url(fonts/Casper.ttf);
}

@font-face
{
font-family: Casper;
src: url(fonts/CasperBold.ttf);
font-weight: bold;
}

@font-face
{
font-family: Casper;
src: url(fonts/CasperItalic.ttf);
font-style: italic;
}

/*****END FONT DECLARATIONS****/

html,body{
	margin:0px;
	padding:0px;
	height:100%;
}

body{
	font:normal 0.9em Arial; 
	margin:0; 
	padding:0; 
}


/***HEADER*****/

.header{
	margin:0 auto;
	position: relative;
	border-top: 4px solid #f6921e;
}

#container{
	min-height:100%;
	position:relative;
}

.topbar{
	position:relative;
	background-color:#f6921e;
	width:100%;
	height:4px;
	-webkit-box-shadow: 0 6px 2px -6px #f6921e;
	   -moz-box-shadow: 0 6px 2px -6px #f6921e;
	        box-shadow: 0 6px 2px -6px #f6921e;
}

.navbar .nav-label{
	top: 0;
	padding: 15px; 
}

.navbar .nav-label a{
	text-shadow: none !important;
	font-weight: 700;
	color: #333 !important;
}

.navbar .nav-label a.highlighted{
	color: #f99219 !important;
}


/***BODY/CONTENTS*****/
.body{
	margin: 0 auto;
}

input[type="text"],input[type="password"]{
	font-family: PN, Helvetica, sans-serif;	
	font-weight: 100;
	font-size:18pt;
	padding:10px;
	border:1px solid #DDDDDD;
	background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
	-webkit-border-radius: 3px;	
	   -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDDDDD;    
	   -moz-box-shadow: 0 0 2px #DDDDDD;
            box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: inset 0 0 5px #B5B5B5;    
	   -moz-box-shadow: inset 0 0 5px #B5B5B5;
            box-shadow: inset 0 0 5px #B5B5B5;
}

input[type="text"]:hover,input[type="password"]:hover{
	border:1px solid #A3A3A3;
}

input[type="text"]:focus,input[type="password"]:focus{
    -webkit-box-shadow: 0px 0px 10px #7BC1F7;    
	   -moz-box-shadow: 0px 0px 10px #7BC1F7;
            box-shadow: 0px 0px 10px #7BC1F7;
	border-color:#7BC1F7;
}

.button {
	font-family:PN,Helvetica,sans-serif;
	font-weight: 700;
	font-size:18pt;
	display: inline-block;
	background-color:#5ec2e2;
	border:1px solid #A6A6A6;

	-webkit-box-shadow:inset 0px 0px 3px 0px #A6A6A6;
	   -moz-box-shadow:inset 0px 0px 3px 0px #A6A6A6;
	        box-shadow:inset 0px 0px 3px 0px #A6A6A6;
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
	        border-radius:10px;	

	padding:4px 7px;
}

.button:hover{
	background-color:#17BCBF;
}

.button:active {
	position:relative;
	top:1px;
}

a{
	text-decoration:none;	
	font-size: 14.5pt;
	font-family:PN, Helvetica, sans-serif;
	font-weight: 100;
	color: white;
}

/***FOOTER*****/

.footer{
	position:absolute;
	bottom:0px;
	/* footer kept on shifting to the right, was bothering me. not sure
	how this "fix" stacks up against diff browsers/ diff page lengths so
	feel free to comment out the left attribute */
	left: 0px; 
	width:100%;
	height:118px;
	background-image: url(../img/bottom.png);
}

.footer > div{
	width:49%;
	/*overflow:hidden;*/
}

.footleft{
	margin: 0;
	padding:20px 0px 0px 0px;
	height:90px;
	float:left;
}

.footright{
	height:110px;
	float:right;
}

.row{
	margin:0px 0px 5px 80px;
	width:400px;
}

.foot-text{
	font-family:PN, Helvetica, sans-serif;
	font-weight: 100;
	font-size:13.5pt;
	color:#696969;
}

.social{
	margin: 5px 10px 0px 0px;
	float:left;
	width:50px;
}

.socimg{
	width:40px;
	height:40px;
	position:relative;
	top:3px;
}

.footer > * > .nav{
	margin:50px 80px 40px 0px;	
	float:right;
	width:50%;
	list-style:none;
}

.footer > * > .nav > li{
	float:right;
	margin:0px 0px 0px 20px;
}

.nav > li > a{
	color: #696969;
}

.nav > li > a:link, .nav > li > a:visited{
	color:#696969;
}

.nav > li > a:hover, .nav > li > a:active{
	color:#595959;
}
