.spacer{
    margin: 20px;
}

#title-bar{
    padding: 0px 0 40px 0;
}

#title-nav{
    font-family: PN, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 28pt;
    color: #383838;
}
#banner{
    background: #e9e8e6;
}

#view-as a{
    font-weight: 400;
}

#title-nav a, #title-nav a:visited{
    font-family: PN, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 28pt;
    text-decoration: none;
}
#title-nav a{
    color: #dbdbda;
}
#time-nav a{
    color: #383838;
    font-family: PN, Helvetica, sans-serif;
    font-weight: 400;
}
#title-nav a:hover, #title-nav a:active, #time-nav a:hover, #time-nav a:active, a:hover, a:active{
    text-decoration: none;
    color: #f99219;
}

.collection{
}

.collection  > div{
    font-family: PN, Helvetica, sans-serif;
}

.collection-date{
    font-size: 21pt;
    font-weight: 900;
}

.poster, .event, .info, .action-bar{
    padding: 5px 0;
}

.poster#img{
    width: 100%;
}

.event{
    font-size: 15pt;
    font-weight: 100;
    color: #9c9c9c;
}

.event b{
    font-weight: 900;
    color: #383838;
}

.info{
    color: #9c9c9c;
}

.action-bar{
    visibility: hidden;
}

.exp-item:hover > .action-bar{
    visibility: visible;
}

ul{
    list-style-type: none;
    margin: 0;
    font-family: PN, Helvetica, sans-serif;
}


#time-nav ul{    
    font-size: 14pt;
    font-weight: 400;
}

#time-nav li{
  margin: 0;
  padding: 10px 0;
}

.hidden{
    visibility: hidden;
}