body {
	font-size: 14px;}

/* Mostly from signup.css. Changed the values a bit so they are more to my
liking. Feel free to change stuff around. */

.header {
	padding:0px;
	width:100%;
	height:70px;
	border-bottom:1px solid #E3E3E3;
	-webkit-box-shadow: 0 6px 4px -6px #E3E3E3;
	   -moz-box-shadow: 0 6px 4px -6px #E3E3E3;
	        box-shadow: 0 6px 4px -6px #E3E3E3;
}

.body{
	padding:10px;
	padding-bottom:118px;
}

#logo {
	display:block;	
	height:68px;
	width:162px;
	margin:5px auto 0px auto;
	padding:0px;
}

.rightheader {
	position:absolute;
	left:65%;
	top:0;
	width:35%;
	/*min-width:570px;*/
	height:80px;
}

.rightheader > div {
	font-size: 16pt;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-weight: 700;
	margin:35px 0px 35px 0px;
}

.nolink {
	color:#595959;
	float:left;
	width: 190px;
	margin:35px 0px 35px 0px;
}

.lin {
	float:left;
	width:75px;
}

.rightheader > .button{
	float: left;
	margin:30px 0px 35px 0px;
}

.lin a:link, .lin a:visited, .lin a:hover, .lin a:active {
	color:#f6921e;
	font-weight:bold;
}

#signup {
	width:100%;
	height:70px;
	text-align:center;
	color:#595959;
	padding-top:30px;

	font-size: 18pt;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-weight: 700;
}

.info{
	position:relative;
	width:900px;
	height:500px;
	background-color:#EFEFEF;
	margin:10px auto 100px auto;
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
	        border-radius:10px;
    -webkit-box-shadow: 0 0 10px #B5B5B5;    
	   -moz-box-shadow: 0 0 10px #B5B5B5;
            box-shadow: 0 0 10px #B5B5B5;
	border:3px solid #EBEBEB;
	padding:10px;
}

.inf{
	position:absolute;
	top:5px;
	right:5px;
	width:25px;
	height:25px;
}
.infoicon img{
	width:25px;
	height:25px;
	margin:0px;
}

#important{
	margin:10px auto 20px auto;
	color:#f6921e;
	font-size:32pt;
	text-align:center;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-weight: 700;
}

#important-caption{
	height:50px;
	margin:10px auto 20px auto;
	font-size:15pt;
	text-align:center;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-weight: 100;
}

.form{
	width:800px;
	height:400px;
	margin:10px auto;
}

.single{
	width:350px;
	margin:20px 0px 0px 20px;
}

.dbl{
	width:750px;
	margin:20px 0px 0px 20px;
}

.submit{
	width:740px;
	height:50px;
	margin:50px auto 20px auto;
}

#createaccount {
	display:block;	
	width:200px;
	text-align:center;
	margin:0px auto 0px auto;
	background-color:#f6921e;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
    -webkit-box-shadow: 0px 0px 10px #f6921e;    
	   -moz-box-shadow: 0px 0px 10px #f6921e;
            box-shadow: 0px 0px 10px #f6921e;
	border:1px solid #ff9e36;
	color:#ffffff;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	padding:8px 100px;
	text-decoration:none;
}

#nextstep:hover {
	background-color:#f5a242;
}

#nextstep:active {
	position:relative;
	top:1px;
}

.popover{
	font-size:11pt;
	font-family:PN, Casper, Helvetica,sans-serif;
	font-weight: 100;
}

.popover-title{
	font-family:PN, Casper, Helvetica,sans-serif;
	font-size: 13.5pt;
	font-weight: 700;  
}