{% load static from staticfiles %}
<div class="footer">
	<div class="footleft">
		<div class="row foot-text">Copyright &copy; 2013 Hitupp LLC.</div>
		<div class="row foot-text">Created and Maintained in Toronto, Ontario</div>
		<div class="row">
			<div class="social"><img src="{% static "img/twitter.png" %}" alt="Twitter" class="socimg"></div>
			<div class="social"><img src="{% static "img/facebook.png" %}" alt="Facebook" class="socimg"></div>
		</div>
	</div>
	<div class="footright">
		<ul class="nav">
			<li><a href="#">About Us</a></li>
			<li><a href="signup.html">Sign Up</a></li>
			<li><a href="#">Login</a></li>
			<li><a href="#">Support</a></li>
		</ul>	
	</div>
</div>
