html, body{
    font-family:PN, Helvetica, sans-serif;
    font-weight:100;
}

#header{
    width:100%;
	margin:0px auto;
	border-bottom:1px solid #E3E3E3;
	-webkit-box-shadow: 0 6px 4px -6px #E3E3E3;
	   -moz-box-shadow: 0 6px 4px -6px #E3E3E3;
	        box-shadow: 0 6px 4px -6px #E3E3E3;
}
#body{
	width:100%;
	padding-top:40px;
	padding-bottom:118px;
	margin:0px auto;
	background-color:#F4F4F4;
}
#topbar{
	position:relative;
	background-color:#f6921e;
	width:100%;
	height:4px;
	-webkit-box-shadow: 0 6px 2px -6px #f6921e;
	   -moz-box-shadow: 0 6px 2px -6px #f6921e;
	        box-shadow: 0 6px 2px -6px #f6921e;
}
#headnav{
	position:relative;
	margin:0px auto;
	width:1110px;
    height:70px;
	font-family:PN,Helvetica, sans-serif;
    font-weight:100;
	font-size:22px;
	min-width:1110px;
}
#headleft{
	width:420px;
	float:left;
	height:70px;
	min-width:420px;
}
#headright{
	/*position:absolute;
	right:0px;
	top:0px;*/
	float:right;
	width:620px;
	height:70px;
	min-width:420px;
}
#headleft1,#headleft2,#headleft3{
	padding:0px;	
	height:70px;
	float:left;
	margin-right:50px;
}
#headleft1 img{
	display:block;	
	height:44.2px;
	width:105.3px;
	margin:14px 0px 0px 0px;
	padding:0px;
}
#headleft2,#headleft3{
	padding:24px 25px 0px;
	margin:0px;
}
#headleft2{
    background:#F4F4F4;
   }
#headleft3 a:link,#headleft3 a:visited{
	text-decoration:none;
	font-family:PN,Helvetica,sans-serif;
    font-weight:700;
	color:#696969;
}
#headleft3 a:hover,#headleft3 a:active{
	text-decoration:none;
	font-family:PN,Helvetica,sans-serif;
    font-weight:700;
	color:#595959;
}
#headleft2 a:link,#headleft2 a:visited{
	text-decoration:none;
	font-family:PN,Helvetica,sans-serif;
    font-weight:700;
	color:#f4932a;
}
#headleft2 a:hover,#headleft2 a:active{
	text-decoration:none;
	font-family:PN,Helvetica,sans-serif;
    font-weight:700;
	color:#df801a;
}
#dd{
    float:right;
    margin:18px 2px 0px 10px;
}
.profile{
    margin-right:10px;
	position:relative;
	float:right;
	height:100%;
}
.hype{
	position:relative;
	background-image:url(../img/HypeFlag_48x23.png);
	width:48px;
	height:23px;
	float:right;
    padding-top:2px;
	margin-top:22px;
	color:#ffffff;
	font-size:18px;
}
.pic{
	right:-8px;
	z-index:500;
	position:relative;
	width:44px;
	height:100%;
	float:right;
}
.pic img{
	width:44px;
	height:44px;
	margin-top:12px;
}
.notif{
	position:relative;	
	float:right;
	width:150px;
	height:100%;
}
.notification-container {
    position: absolute;
	top:10px;
	right:40px;
    width: 41px;
    height: 44px;
}
.notification-counter {   
    position: absolute;
    top: 10px;
    left: 30px;
    background-color:#f6921e;
    color: #ffffff;
    border-radius: 3px;
    padding: 1px 4px;
    font-size:14px;
	font-family:PN,Helvetica, sans-serif;
    font-weight:700
}
.notif ul,.notif li {
    list-style: none;
}

.coverpic{
    min-width:1110px;
	width:1110px;
	height:617px;
	margin:0px auto 40px;
    -webkit-box-shadow: 0 0 4px 3px #E5E5E5;
	   -moz-box-shadow: 0 0 4px 3px #E5E5E5;
            box-shadow: 0 0 4px 3px #E5E5E5;
}
.coverpic img{
    min-width:1110px;
	width:1110px;
	height:617px;
	margin:0px;
}
.eventinfo{
	margin:0px auto;
	width:1110px;
	min-width:1110px;
	max-width:1100px;
	text-align:center;
	font-family:PN,Helvetica, sans-serif;
    font-weight:100;
	font-size:26px;
	color:#939393;
}
.eventname{
	color:#595959;
	font-family:PN,Helvetica, sans-serif;
    font-weight:900;
	font-size:60px;
}
a#location:link,a#location:visited{
	color:#939393;
}
a#location:hover,a#location:active{
	color:#838383;
	text-decoration:none;
}
.inforow{
	font-family:PN,Helvetica, sans-serif;
    font-weight:700;
	font-size:28px;
	color:#606060;
	width:1110px;
	min-width:1110px;
	margin:40px auto;
}
.left-align{
	width:33%;
	text-align:left;
}
.right-align{
	width:33%;
	text-align:right;
}
.center-align{
	width:33%;
	text-align:center;
}
.orange{
	color:#fa8b32;
}
.num{
	font-family:PN,Helvetica, sans-serif;
	font-weight:700;
	font-size:45px;
	color:#595959;
}

h2{ 
	margin-bottom:10px;
}

.bot{    
    overflow:auto;
    width:1110px;
    min-width:1110px;
    margin:10px auto;
    padding:1px;
}

.botleft{
    overflow:hidden;
    width:790px;
	max-width:790px;
    float:left;
	padding:0px;
	background-color:#F3F3F3;
}

.botright {
    width:290px;
    float:right;
}

.botrightdiv{
    color:#636361;
    margin:0px 0px 20px 0px;
    padding:10px 20px;
    background-color:#FAF8F2;
    -webkit-box-shadow: 0 0 4px 3px #ECECEC;
	   -moz-box-shadow: 0 0 4px 3px #ECECEC;
            box-shadow: 0 0 4px 3px #ECECEC;
    overflow:hidden;
}

#leftovertab{
    padding:14px 50px;
    background-color:#ECECEC;
    text-align:right;
    font-size:14px;
	color:#585858;
	margin:0 8px 0px 0;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	       border-radius:3px;
    overflow:hidden;
}

#tabContainer {
	padding:0px;
	width:700px;
	-webkit-border-radius:4px;	
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

#tabs{
    width:100%;
	height:50px;
    margin-bottom:25px;
    overflow:hidden;
}

#tabs > div > div.tabdiv{
	font-size:14px;
	color:white;
	margin:0 8px 0px 0;
	padding:14px 50px;
	float:left;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	       border-radius:3px;
    -webkit-box-shadow: 0 0 4px 3px #E5E5E5;
	   -moz-box-shadow: 0 0 4px 3px #E5E5E5;
            box-shadow: 0 0 4px 3px #E5E5E5;
	background: #d5d5d5;
}

#tabs > div > div.tabdiv:hover{
	background: #7d7d7d; 
	cursor:pointer;
	color: white;
}

#tabs > div > div.tabActiveHeader{
	background: #7d7d7d; 
	cursor:pointer;
	color: white;
}

#tabscontent {
    position:relative;
    left:4px;
    width:740px;
    height:900px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	padding:20px;
	background:white; 
	margin:0px;
	color:#565656;
    -webkit-box-shadow: 0 0 4px 3px #E5E5E5;
	   -moz-box-shadow: 0 0 4px 3px #E5E5E5;
            box-shadow: 0 0 4px 3px #E5E5E5;
}

#hituppevent {
	display:block;	
	text-align:center;
	margin:0px auto 0px auto;
	background-color:#f6921e;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
    -webkit-box-shadow: 0px 0px 10px #ECECEC;    
	   -moz-box-shadow: 0px 0px 10px #ECECEC;
            box-shadow: 0px 0px 10px #ECECEC;
	border:1px solid #ff9e36;
	/*display:inline-block;*/
	color:#ffffff;
	font-family:PN, Helvetica, sans-serif;
	font-size:14px;
	font-weight:100;
	padding:20px 30px;
	text-decoration:none;
}

#hituppevent:hover {
	background-color:#f5a242;
}

#hituppevent:active {
	position:relative;
	top:1px;
}

.time{
    font-family:PN, Helvetica, sans-serif;
    font-weight:700;
    font-size:45px;
}
.block{
    display:block;
    margin:15px 0px 0px 0px;
}
.price-value{
    margin:20px 0px 10px 0px;
    width:49%;
    float:left;
}
.price-desc{
    font-size:12px;
    width:49%;
    float:right;
    margin:15px 0px 0px 0px;
}
    
.big{
    font-family:PN,Helveticasans-serif, sans-serif;
    font-weight:700;
    font-size:50px;
    margin:0px 0px 10px 0px;
}

.inactive{
    color:#d2d2d2;
    background-color:#f7f7f7;
}
.inactive .big{
    color:#d0d0d0;
}
.inactive .orange{
    color:#d2d2d2;
}
.containers{
 width:700px;
 margin:0px auto;
}

/*** STORYBOARD CHANGES ***/

.story:hover{
    background:#fa8b32;
    width: 330px;
    height: 330px;
}

.avatar{
    background: url(../img/user.png);
}

.small{
    width: 160px;
    height: 160px;
    background:#D5D5D5;
}

.onebytwo{
    height: 330px;
    width: 160px;
    background:#D5D5D5;
}

.twobyone{
    width: 330px;
    height: 160px;
    background:#D5D5D5;
}

.twobytwo{
    width: 330px;
    height: 330px;
    background:#D5D5D5;
}
table.eventdetails{
    font-family:PN,Helvetica,sans-serif;
	border-bottom:1px solid #ECECEC;
	width:730px;
	border-collapse:collapse;
    color:#707070;
    margin-left:20px;
    font-size:20px;
}
.eventdetails td{
    padding-top:5px;
	padding-bottom:20px;
}
.leftborder{
	border-left:1px solid #ECECEC;
	text-align:right;
    color:#9F9F9F;
}
.row3{
	padding:0px;
}
.row4{
	height:10px;
	padding:0px;
}
.italic{
    font-style:italic;
    font-weight:100;
}

img.detail{
    width:25px;
    height:25px;
    margin:0px 10px;
    position:relative;
    top:-5px;
}
#twitter-widget-0{
    width:740px;
}
